<h1>List of current Users</h1>
<% if @current_user %>
  <h1><%= @current_user.name %></h1>
  <%= link_to(("Logout"),
      "/sessions/destroy",
      method: :delete) %>
  <% if @leaders %>
    <h3>Feed</h3>
    <ul>
    <% @leaders.each do |user| %>
      <li>
        <% user.posts.each do |post| %>
        <%= render partial: "./posts/show",
                   locals: { post: post,
                             current_user: @current_user } %>
        <% end %>
      </li>
    <% end %>
    </ul>
  <% end %>

<% else %>
  <%= render partial: "./sessions/new" %>
<% end %>

<% if @users %>
  <ul>
  <% @users.each do |user| %>
    <li>
      <a href=<%= "/users/#{ user.id }" %>>
      <%= "#{ user.name }, #{ user.id }" %>
      </a>
    </li>
  <% end %>
  </ul>
<% end %>
